* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #012f1c;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.back-button {
  background-color: #24021e;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.back-button:hover {
  background-color:#e306c9;
}

h1 {
  text-align: center;
  flex-grow: 1;
  color: #ffffff
}

form {
  background-color: #e306c9;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

form p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 20px;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #6f656d;
  border: none;
  border-radius: 1%;
  cursor: pointer;
  }
  
  form input[type="submit"]:hover {
  background-color: #012f1c;
  }

  /* Outras partes do arquivo permanecem inalteradas */
ul.flashes li {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  list-style: none;
  
  border-radius: 5px;
  text-align: center;
  margin-bottom: 5px;
  transition: opacity 0.5s; /* Adicione transição para suavizar a mudança de opacidade */
}

.hidden {
  opacity: 0 !important;
}

.bodyColor {
  background-image: url("/static/img/backsite.png");
  background-repeat: no-repeat;
  background-size: cover;
}

p{

  color: #ffffff;
}