<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>UFINDS - Bazares</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="{{ url_for('static', filename='img/background.png') }}" alt="UFINDS logo">
      </div>
      <nav>
        <ul>
          <li>PÁGINA PRINCIPAL</li>
        </ul>
      </nav>
      <div class="header-actions">
        <button onclick="location.href='{{ url_for('login')}}'">Login</button>
        <button onclick="location.href='{{ url_for('registerPage') }}'">Register</button>
      </div>
    </header>
    <main>
      <section id="destaques">
        <h2>Destaques</h2>
        <ul>
          <li>
            <div class="img-container">
              <img src="{{ url_for('static', filename='img/bolsaverde.png') }}" alt="Produto 1">
            </div>
            <h3>Bolsa Verde</h3>
            <p>Bolsa bonita verde com alça</p>
          </li>
          <li>
            <div class="img-container">
              <img src="{{ url_for('static', filename='img/panda_objeto.png') }}" alt="Produto 2">
            </div>
            <h3>Objeto abstrato</h3>
            <p>Efeite de quarto azul com a pintura de um panda</p>
          </li>
          <li>
            <div class="img-container">
              <img src="{{ url_for('static', filename='img/vaso.png') }}" alt="Produto 3">
            </div>
            <h3>Vaso</h3>
            <p>Vaso rosa para porta treco</p>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>Todos os direitos reservados - UFINDS 2023</p>
    </footer>
  </body>
</html>