<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/ufinds.css') }}"
    />
    <title>Ufinds - Página principal</title>
    <script>
      function clearSearch() {
        document.getElementById("search-input").value = "";

        // Adicione um campo oculto ao formulário para enviar o valor de `reset`
        var form = document.querySelector("form");
        var resetInput = document.createElement("input");
        resetInput.type = "hidden";
        resetInput.name = "reset";
        resetInput.value = "true";
        form.appendChild(resetInput);

        // Envie o formulário
        form.submit();
      }
    </script>
  </head>
  <body>
    <header>
      <div class="header-left">
        <h2>Bem-vindo(a), {{ first_name }} {{ last_name }}</h2>
        <p>CEP: {{ cep }}</p>
      </div>
      <div class="header-right">
        <form method="POST" action="{{ url_for('ufinds') }}">
          <input
            type="text"
            id="search-input"
            name="search"
            placeholder="Pesquisar"
          />
          <button type="submit">Pesquisar</button>
          <button type="button" onclick="clearSearch()">Limpar pesquisa</button>
        </form>
      </div>
    </header>
    <main>
      {% set show_products = search_applied %}
      {% if search_applied %}
      <h2>Recomendações de bazares próximos baseadas na palavra pesquisada</h2>
      {% else %}
      <h2>Recomendações de bazares próximos</h2>
      {% endif %}
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Produtos</th>
          </tr>
        </thead>
        <!-- ... -->
        <tbody>
          {% for _, bazar in bazares.iterrows() %}
          <tr>
            <td>{{ bazar['Nome Bazar'] }}</td>
            <td>{{ bazar['Endereço'] }}</td>
            {% if show_products %}
            <td>{{ bazar['Lista de Produtos'] }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
        <!-- ... -->
      </table>
    </main>
  </body>
</html>
